$pointColor: #ff0061;

.mainSearchWrap {
    display: flex;
    height: 50px;
    width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: $pointColor;
    border-radius: 4px;
    border: 1px solid white;
    box-sizing: border-box;
    .mainSearchNation {
        background-color: $pointColor;
        color: white;
        padding: 12px 24px;
        border-radius: 4px 0px 0px 4px;
        border: 1px solid $pointColor;
        box-sizing: border-box;
        display: flex;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .mainSearch {
        padding: 12px 24px;
        background-color: white;
        flex: 1 1 0%;
        box-sizing: border-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        // border-radius: 0px 4px 4px 0px;
        border: 1px solid white;
        .mainSearchForm {
            width: 160px;
            font-size: 15px;
            line-height: 1.6;
            background: transparent;
            outline: none;
            border: none;
        }
        .mainSearchFormButton {
            cursor: pointer;
        }
    }
}
